.badge {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 8px;

  &-item {
    background-color: rgba(100, 150, 255, 0.3);
    color: #fff;
  }

  &-promo {
    background-color: rgba(100, 200, 100, 0.3);
    color: #fff;
  }

  &-default {
    background-color: rgba(200, 200, 200, 0.3);
    color: #fff;
  }
}
